html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*for displaying modal side*/

/* Custom styles for sidebar modal */
.modal.sidebar-modal .modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px; /* Adjust width as needed */
    height: 100%;
    margin: 0;
}

.modal.sidebar-modal .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}

.modal.sidebar-modal .modal-header,
.modal.sidebar-modal .modal-body,
.modal.sidebar-modal .modal-footer {
    height: auto;
    overflow-y: auto;
}


/* content at center */

.contentcenter {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */ 
    height: 100%; /* Ensure the card takes full height if necessary */
}

.cardcenter .card-body {
        text-align: center; /* Centers the text within the card */
    }

.glass2 {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 15px 0 10px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
    margin: 6px 0;
}
